<ion-content padding>
    <ion-grid class="login-content">
        <ion-row>
            <ion-col text-center>
                <div>
                    <img src="assets/imgs/logo.png" style="height:65px;">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-item>
                        <ion-input type="email" placeholder="Email" [(ngModel)]="userName" required></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-item>
                        <ion-input type="password" placeholder="Password" [(ngModel)]="passWord"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="login-btn">
            <ion-col col-4>
                <button ion-button (click)="doLogin()" color="primary">
                    Login
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>