page-login {
    .login-content{
        margin-top: 50%
    }

    .login-btn button {
        padding: 20px 35px 20px 35px;
        border-radius: 20px;
        font-size: 15px;
        background-color: #0c67b4;
        color: #fff;
        font-weight: bold;
    }

     .login-btn {
        margin-left: 30%;
        margin-top: 10%;
    }
}   
