page-task-list {
    .dueDate {
        margin-bottom: 10px;
        font-size: 14px;
        color: #0c67b4 !important;
        border: solid 1px grey;
        border-radius: 25px;
        width: 40%;
        padding: 3px 11px 3px 20px;
    }

    .searchbar-ios{
        background: none;
        border-bottom: 0.55px solid #0c67b4;
        width: 88%;
    }

    .card-header-ios {
        color: #0c67b4 !important;
    }

    .uniqueTask {
        font-size: 16px;
        font-weight: 600;
        color: darkslategray;
    }

    .taskStatus {
        font-weight: 800;
    }

    .medium-class {
        border: 1px solid orange !important;
    }

    .high-class{
        border: 1px solid red !important;
    }

    .breadcrumDetails {
        margin-left: 15px;
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 14px;
        color: darkslategray;
    }

    .searchBar {
        margin-top: 10px;
    }
        
    

    .optionImg {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        margin-right: 28px;
        margin-top: -38px;
    }

    .funnelIcon{
        position: absolute;
        right: 17px;
        bottom: top;
        top: 70px;
        color: #0c67b4;
        padding:4px;
        font-size: 1.4em;
    }

    .noRecord {
      font-size: 16px;
      font-weight: bold;
      margin-top: 50%;
    }


}
