<ion-header text-center>
    <ion-navbar>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="assets/imgs/logo.png" height="38">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="breadcrumDetail !== undefined" class="breadcrumDetails">
        <span>
            {{ breadcrumDetail.project_name }}
            <ion-icon name="arrow-forward"></ion-icon> {{ breadcrumDetail.project_stage }}
            <ion-icon name="arrow-forward"></ion-icon> {{ breadcrumDetail.project_process }}
            <ion-icon name="arrow-forward"></ion-icon> {{ breadcrumDetail.project_activity}}
        </span>
        <div class="searchBar">
            <span>
                <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
            </span>
            <span class="funnelIcon" (click)="sortTasks($event)">
                <ion-icon name="funnel"></ion-icon>
            </span>

        </div>
        <div>

        </div>
    </div>
    <ion-card *ngFor="let task of tasks" (click)="taskDetails(task)">
        <div *ngIf="tasks.length > 0">
            <ion-card-header class="taskSubject">
                <span class="uniqueTask">{{ task.task_unique_no }}</span> {{task.subject}}
            </ion-card-header>
            <ion-card-content>
                <div class="taskContent">
                    <div class="dueDate" [ngClass]="{'low-class': task.priority =='low', 'high-class': task.priority =='high', 'medium-class': task.priority== 'medium' }">

                        {{task.due_date | date: 'd MMMM y'}}
                    </div>
                    <div *ngIf="task.status == 'Complete'">
                        <div class="taskStatus" *ngIf="task.creator_status == undefined">
                            {{task.status}} / Waiting Approval
                        </div>
                        <div class="taskStatus" *ngIf="task.creator_status == 'Approved'">
                            {{task.status}} / {{task.creator_status}}
                        </div>
                        <div class="taskStatus" *ngIf="task.creator_status == 'Rejected'">
                            {{task.status}} / {{task.creator_status}}
                        </div>
                    </div>
                    <div class="taskStatus" *ngIf="task.status !== 'Complete'">
                        {{task.status}}
                    </div>

                    <div>
                        <img src="assets/imgs/option1.png" class="optionImg">
                    </div>
                </div>
            </ion-card-content>
        </div>
    </ion-card>
    <div *ngIf="tasks == undefined " class="noRecord" text-center>
        <div> No record Found </div>
    </div>
    <div *ngIf="tasks !== undefined" class="noRecord" text-center>
        <div *ngIf="tasks.length == 0">
            No record Found
        </div>
    </div>
</ion-content>