<ion-header text-center>
    <ion-navbar>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="assets/imgs/logo.png" height="38">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let projectDetail of projects" (click)="goToStages(projectDetail)" deatil-push>
            <div *ngIf="projects.length > 0">
                <h2>{{projectDetail.project.name}}</h2>
                <ion-icon name="arrow-forward" class="rightIcon"></ion-icon>
                <p>
                    {{projectDetail.role.name}}
                </p>
            </div>
            <div *ngIf="projectDetail.length == 0" text-center> No record Found</div>
        </ion-item>
    </ion-list>
</ion-content>