page-home {
    ion-item h2 {
        color: #0071c1;
    }

    .rightIcon {
        font-size: 25px;
        position: absolute;
        right: 0;
        margin-right: 23px;
        top: 24px;
        color: #0071c1;
    }
}
