<div class="sortingList">
    <div (click)="close('subject')">
        Subject
    </div>
    <div (click)="close('due_date')">
        Due Date
    </div>
    <div (click)="close('priority')">
        Priority
    </div>
    <div (click)="close('status')">
        Status
    </div>
    <div (click)="close('task_type')">
        Task Type
    </div>
    <div (click)="close('task_unique_no')">
        Task Unique No
    </div>
</div>