<ion-header text-center>
    <ion-navbar>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="assets/imgs/logo.png" height="38">
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="headerTitle">
        {{projectDetails.project.project_code}} - {{projectDetails.project.name}}
    </div>
    <div>
        <ion-grid style="margin-top:12%;">
            <ion-row class="stagesList">
                <ion-col>
                    <div class="dropdwnTitle">
                        Stages
                    </div>
                    <ion-item>
                        <ion-label>Stages</ion-label>
                        <ion-select multiple="false" [(ngModel)]="stageName" mulitple="false" (ionChange)="changeProcess()" style="width:100%; max-width:100%">
                            <ion-option value="">Please select stage</ion-option>
                            <ion-option *ngFor="let stage of stages" [value]="stage.id">{{stage.stage_name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="stagesList">
                <ion-col>
                    <div class="dropdwnTitle">
                        Processes
                    </div>
                    <ion-item>
                        <ion-label>Processes</ion-label>
                        <ion-select [(ngModel)]="processName" mulitple="false" (ionChange)="changeActivity()" style="width:100%; max-width:100%">
                            <ion-option value="">Please select process</ion-option>
                            <ion-option *ngFor="let process of processes" [value]="process.id">{{process.process_name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="stagesList">
                <ion-col>
                    <div class="dropdwnTitle">
                        Activities
                    </div>
                    <ion-item>
                        <ion-label>Activities</ion-label>
                        <ion-select [(ngModel)]="activityName" mulitple="false" (ionChange)="getTasks()" style="width:100%; max-width:100%">
                            <ion-option value="">Please select activity</ion-option>
                            <ion-option *ngFor="let act of activity" [value]="act.root_activity_id">{{act.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <button ion-button class="taskBtn" (click)="getAllTasks()">
                        Submit
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!-- </ion-list> -->
</ion-content>