page-stage {
    .dropdwnTitle {
        margin-left: 42px;
        color: blue;
        font-size: 20px;
        margin-bottom: 15px;
        color: #0c67b4;
    }
    
    .stagesList {
        padding-bottom: 10px;
    }

    .headerTitle {
        text-align: center;
        font-size: 18px;
        background: #0071c1;
        color: #fff;
        padding: 9px;
    }

    .taskBtn {
        border-radius: 35px !important;
        background-color: #0c67b4;
        margin-top: 5%;
        width: 40%;
    }
}
