<ion-header text-center>
    <ion-navbar>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <img src="assets/imgs/logo.png" height="38">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="taskTitle">
                    <span class="uniqueTask">{{ task.task_unique_no }} -</span>
                    <span class="taskSubject">{{task.subject}}</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>
                <div class="dueDate" [ngClass]="{'low-class': task.priority =='low', 'high-class': task.priority =='high', 'medium-class': task.priority== 'medium' }">

                    {{task.due_date | date: 'd MMMM y'}}
                </div>
            </ion-col>
            <ion-col col-6>
                <div *ngIf="task.creator_status !== undefined && task.status == 'Complete'" style="float:right;">
                    <button class="approvedBtn" [disabled]="task.creator_status == 'Approved'" (click)="approvedStatus()" [ngClass]="{'accBtn': task.creator_status == 'Approved'}">
                        Approved
                    </button>
                    <button class="rejectedBtn" [disabled]="task.creator_status == 'Rejected'" (click)="rejectedStatus()" [ngClass]="{'rejBtn': task.creator_status == 'Rejected'}">
                        Rejected
                    </button>
                </div>
                <div *ngIf="task.creator_status == undefined && task.status == 'Complete'" style="float:right;">
                    <button class="approvedBtn" (click)="approvedStatus()">
                        Approved
                    </button>
                    <button class="rejectedBtn" (click)="rejectedStatus()">
                        Rejected
                    </button>
                </div>
                <div *ngIf="task.status !== 'Complete'">
                    <button class="defaultButton">
                        {{task.status}}
                    </button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="description">
                    {{task.description}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8>
                <ion-item>
                    <ion-label>Status</ion-label>
                    <ion-select multiple="false" [(ngModel)]="statusName" (ionChange)="changeStatus()" style="width:100%; max-width:100%">
                        <ion-option value="Draft">Draft</ion-option>
                        <ion-option value="In-progress">In-progress</ion-option>
                        <ion-option value="Question">Question</ion-option>
                        <ion-option value="Complete">Complete</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <button class="submitBtn" (click)="updateTaskStatus()">
                    Submit
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="segmentButton">
        <ion-segment [(ngModel)]="taskSeg" color="primary">
            <ion-segment-button value="people">
                Peoples
            </ion-segment-button>
            <ion-segment-button value="files">
                Files
            </ion-segment-button>
            <ion-segment-button value="discussion">
                Discussion
            </ion-segment-button>

        </ion-segment>
    </div>
    <div *ngIf="taskSeg == 'people'">
        <ion-card>
            <ion-card-header>
                <div class="accountable">
                    Accountable
                </div>
            </ion-card-header>
            <ion-card-content>
                <div *ngFor="let creator of task.creator" class="creator">
                    <div class="userImage">
                        <span *ngIf="creator.profile_image">
                            <img src="{{global.liveImgUrl + '/'+ creator.id + '/' + creator.profile_image}}" />
                        </span>
                        <span *ngIf="creator.profile_image == null">
                            <img src="{{global.defaultImgUrl}}" />
                        </span>
                    </div>
                    <div class="userInfo">
                        <div class="userName">
                            {{creator.name}}
                        </div>

                        <div class="company">
                            Company: {{creator.company ? creator.company : 'NA'}}
                        </div>
                        <div class="role">
                            Role: {{creator.role ? creator.role : 'NA'}}
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <div class="responsible">
                    Responsible
                </div>
            </ion-card-header>
            <ion-card-content>
                <div *ngFor="let assign of task.assigned_to" class="assignp">
                    <div class="userImage">
                        <span *ngIf="assign.profile_image">
                            <img src="{{global.liveImgUrl + '/'+ assign.id + '/' + assign.profile_image}}" />
                        </span>
                        <span *ngIf="assign.profile_image == null">
                            <img src="{{global.defaultImgUrl}}" />
                        </span>
                    </div>
                    <div class="userInfo">
                        <div class="userName">
                            {{assign.name}}
                        </div>

                        <div class="company">
                            Company: {{assign.company ? assign.company : 'NA'}}
                        </div>
                        <div class="role">
                            Role: {{assign.role ? assign.role : 'NA'}}
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="taskSeg == 'files'">
        <ion-card *ngIf="task.files.length > 0">
            <ion-card-content>
                <div *ngFor="let taskFile of task.files">
                    <div class="taskFileDetail">
                        <ion-icon name="document"></ion-icon> &nbsp;
                        <div>{{taskFile.file_name}} </div>
                    </div>

                </div>
            </ion-card-content>
        </ion-card>

    </div>
    <div *ngIf="taskSeg == 'discussion'">
        <ion-card>
            <ion-card-content>
                <ion-scroll scrollY="true">
                    <div *ngFor="let comment of commentData">
                        <div class="userImage commentImage">
                            <span *ngIf="comment.profile.profile_image">
                                <img src="{{global.liveImgUrl + '/'+ comment.profile.id + '/' + comment.profile.profile_image}}" />
                            </span>
                            <span *ngIf="comment.profile.profile_image == null">
                                <img src="{{global.defaultImgUrl}}" />
                            </span>
                        </div>
                        <div class="userInfo commentInfo">
                            <div class="userName">
                                {{comment.profile.first_name}}
                                <span class="commentDays">{{ comment.createdAt | timeAgo}}</span>
                            </div>

                            <div class="company">
                                {{comment.comment_message}}
                            </div>
                        </div>
                    </div>
                </ion-scroll>


            </ion-card-content>
        </ion-card>

    </div>

</ion-content>
<ion-footer *ngIf="taskSeg == 'discussion'">
    <ion-grid>
        <ion-row>
            <ion-col col-9 class="messageInput">
                <ion-item>
                    <ion-input type="text" [(ngModel)]="message" name="title"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-3>
                <button class="messageBtn" (click)="sendMessage()">Submit</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>