page-task-details {
    .uniqueTask {
        font-size: 16px;
        font-weight: 600;
        color: darkslategray;
    }

    .taskSubject {
        color: #0c67b4;
        font-size: 18px;
        font-weight:bold;
    }
    
    .dueDate {
        margin-bottom: 10px;
        font-size: 14px;
        color: #0c67b4 !important;
        border: solid 1px grey;
        border-radius: 25px;
        width: 82%;
        padding:6px 12px 7px 17px;
        text-align: center;

    }

    .responsible{
        font-weight: bold;
    }

    ion-scroll {
        height: 175px;
        .scroll-content {
           padding:0px 6px !important;
        }
    }

    .accountable{
        font-weight: bold;
    }

    .segment-ios-primary .segment-button.segment-activated {
        color: #fff;
        background-color: #0c67b4;
    }

    .segment-ios-primary .segment-button{
        border-color: #488aff;;
    }
 

    .approvedBtn{
        padding: 10px 13px;
        border-radius: 20px;
    }  

    .rejectedBtn {
        padding: 10px 13px;
        border-radius: 20px;     
    }

    .medium-class {
        border: 1px solid orange !important;
    }

    .high-class{
        border: 1px solid red !important;
    }

    .accBtn {
        background-color: lightgreen;
        color:#000;
    }

    .rejBtn {
        background-color: #ff8080;
        color:#000;
    }
    button[disabled]{
        opacity: 1.0;
    }

    .submitBtn{
        padding: 10px 13px;
        border-radius: 20px;
        background-color: #0c67b4;
    }

    .submitBtn {
        padding: 12px 22px;
        font-size: 14px;
        border-radius: 20px;
        background-color: #0c67b4;
        color: #fff;
        font-weight: 800;
    }

    .segmentButton{
        margin-top:5%;
        margin-left: 4%;
        margin-right:4%;
    }

    .userName {
        font-size: 16px;
        line-height: 2.1em;
    }

    .creator {
      line-height: 1.9em;
    }
  
      
    .userImage{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .userImage img {
        border-radius: 50%;
        margin-top: 16px;
        width: 60px;
        height: 51px;
    }

    .userInfo{
        margin-left: 25%;
    }

    .assignp{
        margin-bottom: 8px;
        margin-top: 8px;
        line-height: 1.7em;
    }

    .creator{
        margin-bottom: 8px;
        margin-top: 8px;     
    }

    .defaultButton  {
        padding:9px 18px 13px 22px;
        border-radius: 20px;
        margin-top: -6px;
        float: right;
        font-size: 13px;
    } 

    .description{
        font-size:16px;
        color:darkslategray;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .taskFileDetail {
        ion-icon {
            font-size: 1.7em;
            vertical-align: top;
            
        }
        div {
            white-space: nowrap;
            width: 74%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            font-size:16px
        }
        line-height: 1.7em;
    }

    .commentImage img{
        width: 45px !important;
        height: 45px !important;
        margin-top:5px !important;
    }

    .commentInfo{
        margin-left: 19% !important;
        margin-bottom: 13px;
    }

    .commentDays{
        float: right;
        font-size: 12px;
    }  

    .messageBtn {
        padding: 12px 15px;
        border-radius: 21px;
        font-size: 14px;
        background-color: #0c67b4;
        color: #fff;
        font-weight: bold;
    }
    .messageInput .item-ios {
        padding-left: 0px !important;
    }

    .messageInput ion-input {
        position: static;
        border: solid 0.55px grey;
        border-radius: 8px;
    }

    .messageInput .item-ios.item-block .item-inner {
        border-bottom:none !important;
    }

    .text-input-ios {
        padding:0px 13px;
    }


   

    


  



    

    
    
    


  

}
